#!/bin/bash

#### Settings ####

export TMOS_ADMIN_PASSWORD={{ tmos_admin_password }}
export TMOS_ROOT_PASSWORD={{ tmos_root_password }}
export BIGIP_UNZIPPED_QCOW_IMAGE_URL={{ bigip_unzipped_qcow_image_url }}
export TMOS_VE_DOMAIN_TEMPLATE={{ tmos_ve_domain_template }}
export USER_DATA_URL={{ user_data_url }}
export PORTABLE_PUBLIC_ADDRESS={{ portable_public_address }}
export PORTABLE_PUBLIC_NETMASK={{ portable_public_netmask }}
export PORTABLE_PUBLIC_GATEWAY={{ portable_public_gateway }}
export PORTABLE_PRIVATE_ADDRESS={{ portable_private_address }}
export PORTABLE_PRIVATE_NETMASK={{ portable_private_netmask }}
export PORTABLE_PRIVATE_GATEWAY={{ portable_private_gateway }}
export TMOS_LICENSE_BASEKEY={{ tmos_license_basekey }}

